* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Satoshi", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

header {
  background-color: #f0f0f0;
  padding: 1px 0 10px 0px;
  font-size: 20px;
  width: 100%;
}

header nav ul li {
  display: inline;
  list-style-type: none;
  padding: 20px;
  padding-left: 0px;
  font-weight: bold;
}

nav ul {
  padding-left: 19px;
}

a,
a:visited {
  text-decoration: none;
  color: #333333;
}

a:hover {
  color: #00008b;
}

.news-section {
  margin: 0;
  padding: 0;
}

.news-section h1 {
  margin: 0;
  padding: 0 0 10px 0;
}

.news-section,
.news-table {
  width: 100%;
}

.news-table {
  margin-top: 0;
}

.profile-information {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  padding: 20px;
}

.profile-photo {
  width: 300px;
  height: auto;
  border-radius: 20px;
}

.data-article-img {
  width: 1000px;
  height: auto;
}

.email i,
.github i,
.linkedin i {
  font-size: 24px;
  color: #000000;
}

.email a:hover i {
  color: #d44638;
}

.github a:hover i {
  color: #333333;
}

.linkedin a:hover i {
  color: #0077b5;
}

.projects a {
  color: #0077b5;
  font-weight: bold;
}

.projects a:hover {
  color: #00008b;
}

.project1-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  padding: 20px;
}

.project1-title {
  margin-left: 19px;
}

.project-image1 img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.project2-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  padding: 20px;
}

.project2-title {
  margin-left: 19px;
}

.project-image-2 img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

p span {
  margin-right: 15px;
}

@media (min-width: 769px) {
  .profile-information {
    gap: 20px;
    grid-template-columns: 1fr 1fr;
  }
  .project1-container {
    gap: 20px;
    grid-template-columns: 1fr 1fr;
  }
  .project2-container {
    gap: 20px;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .profile-information {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
  }
  .project1-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
  }
  .project2-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
  }
}
